<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="renderer" content="webkit">
  <title>{{username}} - Bangumi Mosaic Tile</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" href="/assets/logo.png" type="image/x-icon">
</head>
<body>
<header class="header">
  <h1>Bangumi Mosaic Tile</h1>
  <div class="username">{{username}}</div>
</header>
<main>
  <ul>
    {{#each timelines}}
    <li class="box">
      <div class="box-info">
        <h2 class="box-type">{{name}}</h2>
        <span class="box-total" title="过去一年">0</span>
        <div class="box-links">
          <a href="/users/{{../username}}/timelines/{{type}}.svg" target="_blank">SVG</a>
          |
          <a href="/users/{{../username}}/timelines/{{type}}.json" target="_blank">JSON</a>
        </div>
      </div>
      <div class="box-chart">{{{svg}}}</div>
    </li>
    {{/each}}
  </ul>
</main>
<footer class="footer">
  <a href="https://github.com/weizhenye/bangumi-mosaic-tile" target="_blank">GitHub</a>
</footer>
<script src="/assets/main.js"></script>
{{#if ga}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ga}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ga}}');
</script>
{{/if}}
</body>
</html>
